
godot/teste luzes/assets/dungeon-export.png.import
godot/teste luzes/assets/dungeon.png
godot/teste luzes/assets/dungeon.png.import
godot/teste luzes/assets/icons.png
godot/teste luzes/assets/icons.png.import
godot/teste luzes/assets/idle.png
godot/teste luzes/assets/idle.png.import
godot/teste luzes/assets/jump.png
godot/teste luzes/assets/jump.png.import
godot/teste luzes/assets/light.png
godot/teste luzes/assets/light.png.import
godot/teste luzes/assets/pixelated.ttf
godot/teste luzes/assets/roll.png
godot/teste luzes/assets/roll.png.import
godot/teste luzes/assets/run.png
godot/teste luzes/assets/run.png.import
godot/teste luzes/assets/small-ui-font.tres
godot/teste luzes/DayNightCycle.gd
godot/teste luzes/default_env.tres
godot/teste luzes/InputControl.gd
godot/teste luzes/Orb.gd
godot/teste luzes/Orb.tscn
godot/teste luzes/Player.gd
godot/teste luzes/Player.tscn
godot/teste luzes/RotationBehavior.gd
godot/teste luzes/RotationBehavior.tscn
godot/teste luzes/Scene.tscn
godot/teste luzes/wall_tileset.tres
godot/teste luzes/assets/dungeon-export.png
godot/.import/dungeon-export.png-c001b19cd4e817709c45d4b129ee60fe.md5
godot/.import/dungeon-export.png-c001b19cd4e817709c45d4b129ee60fe.stex
godot/.import/dungeon.png-1a980d142f5ce8c3cb902858dde35438.md5
godot/.import/dungeon.png-1a980d142f5ce8c3cb902858dde35438.stex
godot/.import/icons.png-6ac86d31d554eb408c10588a2b347af2.md5
godot/.import/icons.png-6ac86d31d554eb408c10588a2b347af2.stex
godot/.import/idle.png-531bba7446e73d043a6f4a18b9419b22.md5
godot/.import/idle.png-531bba7446e73d043a6f4a18b9419b22.stex
godot/.import/jump.png-3fee7ec21d65bf0fc688dccac332c5bb.md5
godot/.import/jump.png-3fee7ec21d65bf0fc688dccac332c5bb.stex
godot/.import/light.png-2e1276e8c48a8a9f46b17cf3e31c408f.md5
godot/.import/light.png-2e1276e8c48a8a9f46b17cf3e31c408f.stex
godot/.import/light.png-45b70ac7247f6149fa9e013928e66ddc.md5
godot/.import/light.png-45b70ac7247f6149fa9e013928e66ddc.stex
godot/.import/light.png-94b238c9a8e100eec6ae584aa7dd81e2.md5
godot/.import/light.png-94b238c9a8e100eec6ae584aa7dd81e2.stex
godot/.import/roll.png-b427a3a947780cec06c87e8742c94193.md5
godot/.import/roll.png-b427a3a947780cec06c87e8742c94193.stex
godot/.import/run.png-07e69626ee900a42bccdf068db2005b9.md5
godot/.import/run.png-07e69626ee900a42bccdf068db2005b9.stex
godot/export_presets.cfg
godot/export_presets.cfg
